@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary: rgba(0, 89, 188, 1);
  --primary-dark: rgba(0, 37, 79, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
  }


  .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    margin-top: 12px;
    background-color: var(--primary-dark) !important;
    color: #fff !important;
    width: 156px;
  }

  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    font-size: 14px !important;
    margin: 0 12px !important;
  }
  
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
    background-color: var(--primary) !important;
  }